{% extends "_base.html" %}
{% block body %}
<form action="{% url 'register_app:logout' %}" method = "post">
        {% csrf_token %}
        <button type="submit">Exit</button>
    </form>
<p><a href="{% url 'app_counter:index' %}">На главную</a> </p>
<form action="{% url 'api:new_counter' %}" method="post">
    {% csrf_token %}
    <button type="submit">Создать счетчик</button>
</form>

{% if counters %}
{% for counter in counters %}
<p>Состояние счетчика <b>{{ counter.value }}</b></p>
<p>
    <a href="{% url 'app_counter:counter_decr' counter.id %}">-1</a>
    <a href="{% url 'app_counter:counter_inc' counter.id %}">+1</a>
    {% if counter.favorite %}
        Избранный!!
    {% else %}
    <a href="{% url 'app_counter:choose_favorite' counter.id %}">Добавить в избранное</a>
    {% endif %}
</p>
{% endfor %}
{% else %}
<p>Нет счетчиков</p>
<p>
    <a href="{% url 'app_counter:counter_create' %}">Создать счетчик</a>
</p>
{% endif %}
{% endblock %}
