{% extends "_base.html" %}
{% load django_bootstrap5 %}
{% block title %}Вход{% endblock %}

{% block body %}
    <h1>Вход</h1>
    {% if user.is_authenticated %}
        <p>Вы уже находитесь в своём аккаунте.</p>
        <a href="{% url 'app_counter:index' %}">На главную</a>
        <a href="{% url 'app_counter:counter' %}">Крутить счётчик</a>
        <form action="{% url 'register_app:logout' %}" method = "post">
        {% csrf_token %}
        <button type="submit">Exit</button>
    </form>
    {% else%}
        <form action="{% url 'register_app:login' %}" method="post">
        {% csrf_token %}
        {% bootstrap_form_errors form %}
        {% bootstrap_form form layout=layout size=size %}
        {% bootstrap_button button_type='submit' content='вход' %}
        {% bootstrap_button button_type='reset' content='очистить' %}
        <input type="hidden" name="next" value="{{ next }}">
    </form>
        </p>
    {% endif %}

{% endblock %}